<div class="container">
  <br>
  <br>
<h2 class="page-header" >Login</h2>
<form class="form-signin" (submit)="onLoginSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" placeholder="Enter Email" [(ngModel)]="email" name="email">
      </div>
      <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" placeholder=" Enter Password" [(ngModel)]="password" name="password">
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        
        <label>
          <a  [routerLink]="['/resetpassword']">Reset Password</a> 
        </label>
      </div>
      <input class="btn btn-lg btn-primary" type="submit" value="Login">
      

      <!-- <a class="btn btn-primary" 	href="http://localhost:8080/user/auth/facebook">Login With Facebook</a>  -->
      
</form>

  </div>

